body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

.edit {
    float: right;
    margin-right: 65%;
    margin-top: -142px;
    height: 30px;
}

img {
    margin-top: 15px;
    margin-left: 53px;
    width: 180px;
    height: 140px;
}

.avatar {
    margin: 15px;
    margin-left: 160px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}


/* .container {
    //margin-left: 5%;
} */

p {
    text-align: start;
}