body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

.edit {
    float: left;
    margin-left: 20%;
    margin-top: -142px;
    height: 30px;
}

img {
    margin-top: 15px;
    margin-left: 53px;
    width: 180px;
    height: 140px;
}

.avatar {
    margin: 15px;
    margin-left: 100px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.profText {
    text-align: left;
    vertical-align: baseline;
}

.accordion {
    margin: 5%;
    margin-top: 10px;
}

.card {
    text-align: center
}